---
const { header, id } = Astro.props;
---

<div class="accordion_container">
  <details name={id}>
    <summary>
      {header}
    </summary>
    <div class="content">
      <slot />
    </div>
  </details>
  <svg
    class="plus_icon"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg
  >
</div>

<style is:global>
  .accordion_container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }

  details {
    width: 100%;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .plus_icon {
    transition: transform 0.2s ease-out;
  }

  details[open] + .plus_icon {
    transform: rotate(135deg);
  }

  @keyframes details-show {
    from {
      opacity: 0;
    }
  }

  details[open] > *:not(summary) {
    animation: details-show .15s ease-out;
  }

</style>

